body {
    background-image: url('../img/dragonball-fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#contenedor-personajes .card {
    max-width: 250px;
}

#contenedor-personajes .card-img-top {
    height: 350px;
    object-fit: contain;
}

#contenedor-personajes .card {
    transition: transform 0.3s ease-in-out;
}

#contenedor-personajes .card:hover {
    transform: scale(1.05);
    cursor: pointer;
}